

<div class="content-wrapper">
               <h3>Banner Images </h3>
               <div class="panel-body">
                  
                
                  
                   <flash-message name="flash-fixed" duration="5000"></flash-message>
                  
                  <form name="myForm" class="form-horizontal" ng-class="{'submitted': submitted}" ng-submit="myForm.$valid && insertData()" novalidate>
                     
                                             
                      
                       
                        
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Banner Title</label>
                            <label class="col-sm-1 control-label">:</label>
                           <div class="col-sm-8">
                               <input type="text" placeholder="Banner title" class="form-control" name="banner3" ng-model="banner.btitle" ng-required="true">
                               <span style="color:red" ng-show="submitted && myForm.prod3.$touched && myForm.prod3.$invalid">The Banner title is required.</span>
                                         </div>
                        </div>                       
                        

                      
                      <div class="form-group">
                           <label class="col-sm-2 control-label">Banner Images</label>
                            <label class="col-sm-1 control-label">:</label>
                           <div class="col-sm-8"> 
                                   <input type="file"  class="form-control custom-control" file-model="myFile"  name="prod5" ng-required="true">
                               <span style="color:red" ng-show="submitted && myForm.prod5.$touched && myForm.prod5.$invalid">The Banner Image is required.</span>

                           </div>
                        </div>
                    
                    
                    
                    <center>
                         <button type="submit" class="btn btn-primary btn-lg" ng-click="submitted= true;">Submit</button>
                    
                        <button type="button" class="btn btn-danger btn-lg" ng-click="formclear()">Clear</button>
                    </center>
                          
                    
              
                  </form>
                  
                  
               </div>
            </div>
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                       